.IniciarButton {
    -fx-background-color: #d4d47b; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

