
/* Estilo base común para ambos botones */
#Button1, #Button2 {
    -fx-background-color:  #0b5563;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Rockwell Condensed";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

/* Hover */
#Button1:hover, #Button2:hover {
    -fx-background-color: #c38523;
}

/* Animación al presionar */
@keyframes clickAnimation {
    0% {
        -fx-scale-x: 1.0;
        -fx-scale-y: 1.0;
    }
    50% {
        -fx-scale-x: 0.95;
        -fx-scale-y: 0.95;
    }
    100% {
        -fx-scale-x: 1.0;
        -fx-scale-y: 1.0;
    }
}

/* Presionado - ambos botones */
#Button1:pressed, #Button2:pressed {
    -fx-background-color: #ffb300;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#welcomeLabel {
    -fx-font-size: 20px;
    -fx-text-fill: #d4d47b;
    -fx-font-weight: bold;
}

.labelAnimado {
    -fx-font-size: 40px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    //-fx-effect: dropshadow(gaussian, #ffffff, 8, 0.5, 0, 0);
}

.labelTitulo {
    -fx-text-fill: black;
    -fx-font-family: "Rockwell Condensed";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

#Pane1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;
}

#Pane2 {
    -fx-background-color: #456e7b;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;
}

#Pane3 {
    -fx-background-color: #0b5563;
}




